<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<property name="CONSOLE_LOG_PATTERN"
		value="[${springAppName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>
				${CONSOLE_LOG_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<appender name="STASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>localhost:5000</destination>

		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc />
				<context />
				<logLevel />
				<loggerName />

				<pattern>
					<pattern>
						{
						"serviceName": "zipkin-core-service"
						}
					</pattern>
				</pattern>

				<threadName />
				<message />
				<logstashMarkers />
				<stackTrace />
			</providers>
		</encoder>
	</appender>
	<appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
		<endpointUrl>http://logs-01.loggly.com/inputs/66c65c6a-e121-46d2-9f7f-30f42d801d95/tag/logback
		</endpointUrl>
		<pattern>[SPRINGAPPNAME::${springAppName:-}::SPRINGAPPNAME,TRACE-ID::%X{X-B3-TraceId:-}::TRACE-ID,SPAN-ID::%X{X-B3-SpanId:-}::SPAN-ID,SPAN-EXPORT::%X{X-Span-Export:-}::SPAN-EXPORT] %d{"ISO8601", UTC} %p %t %c{0}.%M - %m%n</pattern>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STASH" />
		<appender-ref ref="loggly" />
	</root>
</configuration>